.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

.btn {
    cursor: pointer;
    height: 30px;
    width: 60px;
    
}

.buttonContainer {
    display: flex;
    gap: 15px;
}

.icon {
    margin-right: 7px;
}