.container {
    display: inline-block;
    width: 200px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
}

.style {
margin-bottom: 10px;
}




.field {
width: 180px;
padding: 5px;
}

.btn {
    padding: 8px;
    color: rgb(43, 40, 40);
    
}